.text{
    color: black;
}
.title{
    color: #ffffff;
}
.admin-section{
    width: 80%;
    margin: auto;
}
.dashboard{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}
.admin-area{
    background-color: gray;
    color: #ffffff;
}
.buttons ul{
    display: flex;
    flex-direction: column;
}
.buttons ul li{
    margin: 5px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
}
.buttons li:hover{
    color: #ffffff;
    background-color: lightcoral; 
}


@media only screen and (max-width: 600px) {
    .dashboard{
        grid-template-columns: auto;

    }
    .admin-area{
        width: 70%;
        margin: auto;
    }
    .text-area{
        width: 80%;
        margin: auto;
    }

}

